body {
    background-color:#333;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    text-align: center;
}

#characterContainer {
    background: #b7b7b7;
    color: #333;
    border-radius: 5px;
    height: 200px;
    width: 550px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#reverseCharacters {
    background: #b7b7b7;
    color: #333;
    border-radius: 5px;
    height: 200px;
    width: 550px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
}

#buttonContainer {
    display: flex; 
    padding: 15px;
    justify-content: space-between;
}

#reverseContainer {
    display: flex; 
    padding: 15px;
    justify-content: space-between;
    flex-direction: row-reverse;
}

#selectPlayer {
    display: flex; 
    padding: 15px;
    justify-content: space-between;
}

img {
    width: 3.5rem;
}

.hidden {
    display: none;
}

.fightTime {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #b7b7b7;
    color: #333;
    border-radius: 5px;
}

.moveList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}